    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Breaking News</h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
      <h2><a href="http://www.tampabay.com/news/humaninterest/pasco-deputies-catch-elusive-kangaroo/2124420">Tranquilizers, Taser and tackle catch kangaroo on run in Pasco</a></h2>
      <div class="thumbnail with-caption">  
        <%= image_tag("Kangaroo.jpg", class: "img-responsive") %>
        <p>The Pasco Sheriff’s Office and﻿﻿﻿ Florida Fish and Wildlife Conservation Commission captured this kangaroo found wandering in Lacoochee. Its origins are still a mystery.<small>Pasco Sheriff’s Office</small></p> 
      </div>
          <p>DADE CITY — First it was the Mystery Monkey of Tampa Bay. Now it's the Mystery Marsupial.</p>
          <p>A 5-foot-tall, 200-pound male kangaroo on the loose north of Dade City since Saturday night was tranquilized, Tased and tackled before being captured Sunday. </p>
          <p>Its origin remains a mystery.</p>
        </div>

        <div class="col-lg-6">
           <h3><a href="http://www.tampabay.com/news/publicsafety/crime/pennsylvania-police-search-for-grave-of-girl-who-vanished-from-tampa/1238878">Pennsylvania police search for grave of girl who vanished from Tampa nearly 30 years ago</a></h3>
          <p>TAMPA — Thirty years after helicopters and search teams scoured Tampa for Jennifer Marteliz, a 7-year-old girl who vanished while walking home from school, police more than 1,000 miles away led cadaver dogs through dense Pennsylvanian woods Thursday, searching for her grave.</p>

           <h3><a href="http://www.tampabay.com/news/publicsafety/crime/police-name-suspect-arrested-tampa-shooting-death-of-pregnant-woman/2145199">Pregnant woman was shot by boyfriend, Tampa police say</a></h3>
          <p>TAMPA — Brianna Anderson was working through life's struggles, striving for her 3-year-old son and the girl growing in her belly.</p>

         <h3><a href="http://www.tampabay.com/news/courts/criminal/3dui-manslaughter-conviction-earns-new-port-richey-man-15-year-sentence/1240125">DUI manslaughter conviction earns New Port Richey man 15-year sentence</a></h3>
          <p>TAMPA — The desperation in their voices was haunting. "He's going to kill somebody," the driver said repeatedly during a 911 call on July 4, 2010.</p>
        </div>

      </div>

    </div><!-- /.container -->