    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Breaking News
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
      <p><h3>Pennsylvania police search for grave of girl who vanished from Tampa nearly 30 years ago</h3></p>
      <%= image_tag("breaking.jpg", height: "300") %>
          <p>TAMPA — Thirty years after helicopters and search teams scoured Tampa for Jennifer Marteliz, a 7-year-old girl who vanished while walking home from school, police more than 1,000 miles away led cadaver dogs through dense Pennsylvanian woods Thursday, searching for her grave.</p>
        </div>

        <div class="col-lg-6">
          <p><h3>Pennsylvania police search for grave of girl who vanished from Tampa nearly 30 years ago</h3></p>
          <p>TAMPA — Thirty years after helicopters and search teams scoured Tampa for Jennifer Marteliz, a 7-year-old girl who vanished while walking home from school, police more than 1,000 miles away led cadaver dogs through dense Pennsylvanian woods Thursday, searching for her grave.</p>

           <p><h3>Pennsylvania police search for grave of girl who vanished from Tampa nearly 30 years ago</h3></p>
          <p>TAMPA — Thirty years after helicopters and search teams scoured Tampa for Jennifer Marteliz, a 7-year-old girl who vanished while walking home from school, police more than 1,000 miles away led cadaver dogs through dense Pennsylvanian woods Thursday, searching for her grave.</p>

         <p><h3>Pennsylvania police search for grave of girl who vanished from Tampa nearly 30 years ago</h3></p>
          <p>TAMPA — Thirty years after helicopters and search teams scoured Tampa for Jennifer Marteliz, a 7-year-old girl who vanished while walking home from school, police more than 1,000 miles away led cadaver dogs through dense Pennsylvanian woods Thursday, searching for her grave.</p>
        </div>

      </div>

    </div><!-- /.container -->