    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Enterprise</h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
      <h2><a href="http://www.tampabay.com/news/environment/line-of-sinkholes-could-be-sign-of-more-to-come/2126516#comments">Line of sinkholes could be sign of more to come</a></h2>
      <div class="thumbnail with-caption">  
        <%= image_tag("enterprise.jpg", class: "img-responsive") %>
        <p>A sinkhole that killed a man in Seffner in March is one in a line of sinkholes in Hillsborough County.</p><p><small>DIRK SHADD | Times</small></p> 
      </div>
          <p>TAMPA — Homes in the sinkhole-plagued community of Seffner could be sitting on a fracture line linking them to about 20 other sinkholes, including the 20-foot-deep pit that opened under a home in February and killed Jeffrey Bush.</p>
          <p>And as Hillsborough County enters what one geologist labels "sinkhole weather," the potential for sinkholes to form will only increase.</p>
          <p>Since Bush's death brought national attention to sinkholes here, they seem to be sprouting all over Hillsborough, including several in the past week.</p>
        </div>

        <div class="col-lg-6">
           <h3><a href="http://www.tampabay.com/news/bizarre/data-disprove-tampas-lightning-capital-claim/1238171">Data disprove Tampa's lightning capital claim</a></h3>
          <p>TAMPA — Lightning is as much a part of the Tampa canvas as manatees and strip clubs. It tears through sky on an average of 100 days a year. It singes and burns, injures and even kills.</p>

           <h3><a href="http://www.tampabay.com/news/business/economicdevelopment/brn-development-heddy-1-deck-46-pt-heregy/2152230">Development brings push and pull as residents, builders seek common ground</a></h3>
          <p>VALRICO — They deemed it a dream development.</p>
          <p>A 6-acre park, architectural input, several acres of landscaping buffers and limitations on time of day for deliveries.</p>

         <h3><a href="http://www.tampabay.com/news/localgovernment/battered-ruskin-sees-hope-in-amazon-warehouse/2127792">Battered Ruskin sees hope in Amazon warehouse</a></h3>
          <p>RUSKIN — It's hard to miss the line of people outside the Lord's Lighthouse on Tuesday mornings.</p>
        </div>

      </div>

    </div><!-- /.container -->