<div class="section">

  <div class="container">

	<div class="row">
		<h1 class="homehead"><span>C</span>AITLIN <span>J</span>OHNSTON</h1>
		<h4 class="homesub"> Reporter. Writer. Storyteller. </h4>
	</div>

    <div class="row">
      <div class="col-lg-4 col-md-4 homemenu">
        <a href="/work"><h2>Work</h2>
        <%= image_tag("typewriter.jpg", height: "190") %></a>
      </div>
      <div class="col-lg-4 col-md-4 homemenu">
        <a href="/about"><h2>About</h2>
      <%= image_tag("coffeecup.jpg", height: "200") %></a>
      </div>
      <div class="col-lg-4 col-md-4 homemenu">
        <a href="/Johnston_Resume2014.pdf"><h2>Resume</h2>
        <%= image_tag("thumbsup.jpg", height: "190") %></a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
</div><!-- /.section -->