    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Media</h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
        <h2><a href="http://ajrarchive.org/article.asp?id=5278">Second Chance</a></h2>
      <div class="thumbnail with-caption">  
        <%= image_tag("media.jpg", class: "img-responsive") %>
        <p>Cover image for the Spring 2012 issue of the American Journalism Review.</p><p><small>American Journalism Review</small></p> 
      </div>
          <p>It's hard to remember the days before the Internet. But it's been just shy of two decades since news organizations traded picas for pixels in their first forays into the land of the Web. And since they fell flat on their faces.</p>
          <p>Internet gurus spun tales of new markets, audience growth and enhanced storytelling. And publishers did everything they could to screw it up. They fought it. Hard. And then they acquiesced meagerly. They refused to post content online before it came out in print. And when they did, they copied and pasted from the print document. And they did it for free.</p>
          <p>Nearly 20 years later, publishers are learning. Many news sites are robust enterprises, with up-to-the-minute posts, interactive elements and payment models hinting at a sustainable future. But they're playing a desperate game of catch-up, struggling to persuade readers to pay for a product they've consumed for free since its advent.</p>
        </div>

        <div class="col-lg-6">
           <h3><a href="http://www.poynter.org/latest-news/mediawire/194225/architecture-photographer-explains-how-he-got-that-new-york-magazine-cover-shot/">Architecture photographer explains how he got that New York magazine cover shot</a></h3>
          <p>Shooting in the dark, with a handheld camera, in a vibrating helicopter, 5,000 feet above land sounds like a photographer’s nightmare. But Iwan Baan made it look easy.</p>

          <h3><a href="http://ajrarchive.org/Article.asp?id=5209">The Naked Retweet Dilemma</a></h3>
          <p>Twitter is causing new headaches for journalists. This time, it's over the question of whether and how reporters should retweet information and links to their followers.</p>

         <h3><a href="http://www.poynter.org/latest-news/top-stories/190421/as-longform-finds-a-new-home-at-buzzfeed-perhaps-its-a-good-gateway-drug/">What BuzzFeed’s evolution says about the future of longform journalism</a></h3>
          <p>It’s not often that a job posting creates such a tizzy. But BuzzFeed’s search for a longform editor signifies more than just a new hire.</p>
        </div>

      </div>

    </div><!-- /.container -->