    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Profiles</h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
      <p><h2><a href="http://www.tampabay.com/news/military/veterans/with-mother-at-his-side-a-wounded-veteran-fights-to-stay-positive/2149205">With mother at his side, a wounded veteran fights to stay positive</h2></p>
      <div class="thumbnail with-caption">  
        <%= image_tag("profiles.jpg", height: "200", class: "img-responsive") %></a>
        <p>J.T. Doody finishes a glass of moscato wine during a football party hosted by his mother, Chris Ott. “We try to make his life as normal as possible,” Ott says. “Especially important is the socialization. You can’t meet anyone if you’re sitting in front of your TV.”</p><small>Photo by CAROLYN VAN HOUTEN | Times</small></p> 
      </div>
          <p>RIVERVIEW — When asked what gets him out of bed every morning, J.T. Doody's response is simple: Jesus, football and women. • His morning ritual involves an hourlong process in which the 30-year-old Iraq War veteran depends on his mom or a nursing assistant to do everything. Brush his teeth. Scrub his body. Wash his hair. • Doody spends his life in constraints, paralyzed because he contracted a hospital-borne infection while under treatment for injuries suffered in Iraq. • His days consist of a series of movements between his hospital bed, a 375-pound motorized wheelchair, and a sling that transfers him from his bed to his shower. • But Chris Ott refuses to let her son's limitations define his life. They eat at restaurants, check out bikini-clad girls at beach bars, host football parties every Sunday, even go to strip clubs.</p>
        </div>

        <div class="col-lg-6">

        <p><h3><a href="https://www.idsnews.com/news/inside/story.aspx?id=78622">The Home Front</h3></p></a>
          <p>Political science students love to spout off about Iraq and Afghanistan. I sit in the creaking chairs in Woodburn Hall, in another afternoon of Comparative Foreign Policy, bristling as the kid with the sweater vest and the too-loud voice pontificates on Bush’s mistake and Obama’s inheritance. Then he goes back to checking Facebook and sipping his grande caramel macchiato.</p>

          <p><h3><a href="http://www.tampabay.com/features/music/tampas-applebutter-express-starts-journey-to-big-time-with-stop-at-bonnaroo/1236437">Tampa's Applebutter Express starts journey to big time with stop at Bonnaroo</h3></p></a>
          <p>MANCHESTER, Tenn  —  Ukulele and smoke filled the heavy air of the Tennessee hotel room. For $58, the members of the Applebutter Express had themselves two beds with cigarette burns in the comforters and a chair dotted with brown stains.</p>

           <p><h3><a href="http://www.hearstfdn.org/hearst_journalism/competitions.php?type=Writing&year=2010&id=15">Steak ’n Shake waitress walks fine line as local legend, rebellious server</p></h3></a>
          <p>Peggy Richard is a late-night legend. Some call her "momma" because she looks after people, others call her "Terminator" because she refuses to put up with nonsense.</p>
        </div>

      </div>

    </div><!-- /.container -->