<div class="section">

  <div class="container">

    <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Work
        </div>

      </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 homemenu">
        <a href="/breaking"><h2>Breaking News</h2>
        <%= image_tag("typewriter.jpg", height: "190") %></a>
      </div>
      <div class="col-lg-3 col-md-3 homemenu">
        <a href="/profiles"><h2>Profiles</h2>
      <%= image_tag("notebook.jpg", height: "200") %></a>
      </div>
      <div class="col-lg-3 col-md-3 homemenu">
        <a href="/enterprise"><h2>Enterprise</h2>
        <%= image_tag("newspaper.jpg", height: "190") %>
      </div>
      <div class="col-lg-3 col-md-3 homemenu">
        <a href="/media"><h2>Media</h2>
        <%= image_tag("mouse.jpg", height: "190") %>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
</div><!-- /.section -->