    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Caitlin Johnston <%= Time.now.year%></p>
            <p>Sketches by Lauren Possley</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->